body {
    font-family: arial, 'Hiragino Sans GB', '微软雅黑', MicrosoftYaHei, '宋体', Tahoma, Arial, Helvetica, STHeiti;
    -webkit-font-smoothing: antialiased;
        background: #E0E0E0;
}


/*glider area*/


/*避免加载时的bug带来的不良体验*/

.bug-fix {
    display: none !important;
}

#top {
    padding: 0.5em 0 0 0;
    background: #E0E0E0;
}

.box {
    color: #fff;
    padding: 54px 18px;
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 12px;
    outline: transparent solid 1px;
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
}

.slider__slide {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    height: 360px;
    height: 34vh;
}

.slider__slide.active {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02)
}


/*navbar*/

#navbar {
    background-color: #455A64;
    border-radius: 0;
    border-top: 2px solid #00BFA5;
}

#navbar a {
    font-size: 16px;
    font-weight: 600;
}

img.ui.logo {
    width: 32px;
}

div.header.item a {
    height: 32px;
}

.ui.menu {
    font-family: arial, 'Hiragino Sans GB', '微软雅黑', MicrosoftYaHei, '宋体', Tahoma, Arial, Helvetica, STHeiti;
}


/*main content*/

.ui.container {
    margin: 1em 0;
}

.article {
	background: #fff;
	padding: 1rem 1.5rem 0 1.5rem;
}

.article-thumb {
    width: 100%;
    height: 320px;
    background: no-repeat center center;
    background-size: cover;
}

.image {
	padding: 1.5rem 0;
}

@media (max-width: 768px) {
    .article-thumb {
        height: 240px;
    }
    .slider__slide {
        height: 240px;
    }
}


/*aside*/

/*TODO*/

/*footer*/

footer .footer.vertical.segment {
    background-color: #455A64;
    border-radius: 0;
}
