<div class="follow-me ui segment">
    <div class="ui pointing secondary menu green section-title">
        <div class="item active"><i class="wechat icon"></i>关注编程派</div>
    </div>

    <a class="ui circular large weibo red icon button" href="http://weibo.com/codingpy" target="_blank">
        <i class="weibo icon"></i>
    </a>
    <a class="ui circular large twitter icon button" href="https://twitter.com/codingpy" target="_blank">
        <i class="twitter icon"></i>
    </a>
    <a class="ui circular large icon button" href="http://github.com/bingjin" target="_blank">
        <i class="github alternate blue icon"></i>
    </a>
    <a class="ui circular large icon button" href="{{ url_for('site.feed', _external=True) }}" target="_blank">
        <i class="rss brown icon"></i>
    </a>
</div>
