<div class="follow-me ui raised segment">
    <div class="ui pointing secondary menu green section-title">
        <div class="item active"><i class="wechat icon"></i>关注编程派</div>                 
    </div>

    <a href="/"><button class="ui circular large wechat green icon button">
        <i class="wechat icon"></i>
    </button></a>
    <a href="/"><button class="ui circular large weibo red icon button">
        <i class="weibo icon"></i>
    </button></a>
    <a href="/"><button class="ui circular large twitter icon button">
        <i class="twitter icon"></i>
    </button></a>

    <a href=""><button class="ui circular large icon button">
        <i class="github alternate blue icon"></i>
    </button></a>

    <a href="/"><button class="ui circular large icon button">
        <i class="rss brown icon"></i>
    </button></a>
        

</div>