<div class="js-infinite-item">
    <a class="ui red ribbon label" href="{{ url_for('site.category', slug=article.category.slug) }}"><i class="{{ article.category.icon }} icon"></i>{{ article.category.name}}</a>
<div class="article">
    <div class="header"><a href="{{ url_for('site.article', article_slug=article.slug, _external=True) }}"><h2>{{ article.title }}</h2></a></div>
    {% if article.thumbnail %}
    <div class="image ">
        <div class="article-thumb" data-bg="{{ url_for('static', filename=article.thumbnail)}}">

            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <a href="{{ url_for('site.article', article_slug=article.slug, _external=True )}}"><div class="ui inverted button">查看详情</div></a>
                    </div>
                </div>
            </div>
        
        </div>

    </div>        
    {% endif %}

    <div class="article-content">
        <div class="description">
            {{ article.summary }}
        </div>
    </div>
    <div class="ui feed">
        <div class="event">
            <div class="label">
            {# <img src="{{ article.author.avatar if article.author.avatar is not none else article.author.gravatar() }}" alt="avatar of this article's author {{article.author.username}}" data-title="{{ article.author.username }}" class="avatar"> #}
            <img src="/static/images/logo.png" alt="avatar of earlgrey" data-title="earlgrey" class="avatar">
            </div>
            <div class="content">
                <span class="date">{{moment(article.created_at, local=True).fromNow()}}</span>
                {% for tag in article.tags %}
                  <span class="category date"><i class="tag icon"></i>{{ tag.name }}</span>
                {% endfor %}

                <span class="share-article"><i class="eye icon"></i>{{ article.views }}</span>
{#                 <span class="share-article"><i class="comments icon"></i>67</span> #}
            </div>

        </div>
    </div>


</div>

    {% if article != all_articles[-1] %}
        <div class="ui divider"></div>
    {% endif %}
</div>