	<nav id="navbar" class="ui stripe">

        <div class="ui container inverted secondary menu">
            <div class="header item">
                <a href="http://codingpy.com" target="_blank" title="codingpy.com"><img class="ui logo" src="/static/images/logo.png"></a>
            </div>
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a class="item" href="/" target="_blank">首页</a>
            <a class="item" href="/news/" target="_blank">资讯</a>
            <a class="item" href="/tuts/" target="_blank">教程</a>
            <a class="item" href="/katas/" target="_blank">练习</a>
            <a class="item" href="/notes/" target="_blank">笔记</a>
            <a class="item" href="downloads/" target="_blank">资源</a>
    {#         <div class="right menu">
                <div class="item">
                    <div style="font-family: arial,'Hiragino Sans GB','微软雅黑',MicrosoftYaHei,'宋体',Tahoma,Arial,Helvetica,STHeiti;" class="ui basic teal inverted button">
                        注册/登陆
                    </div>
                </div>
            </div> #}
        </div>

    </nav>