	<nav id="navbar" class="ui stripe">
        <div class="ui container inverted secondary menu">
            <div class="header item">
                <a href="http://www.codingpy.com" target="_blank" title="codingpy.com"><img class="ui logo" src="/static/images/logo.png"></a>
            </div>
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a class="item" href="/" target="_blank">首页</a>
            <a class="item" href="/category/news/" target="_blank">资讯</a>
            <a class="item" href="/category/tutorials/" target="_blank">教程</a>
            <a class="item" href="/category/katas/" target="_blank">练习</a>
            <a class="item" href="/category/notes/" target="_blank">笔记</a>
            <a class="item" href="/category/downloads/" target="_blank">资源</a>
            <div class="right menu">
             {% if current_user.username %}
                <div class="item" style="font-family: arial,'Hiragino Sans GB','微软雅黑',MicrosoftYaHei,'宋体',Tahoma,Arial,Helvetica,STHeiti;" >
                    <div class="ui basic teal inverted button">
                        {{ current_user.username }}
                    </div>                      
                </div>
                <div class="item">
                    <div class="ui basic teal inverted button">
                        <a href="{{ url_for('account.logout') }}">退出</a>
                    </div>
                </div>
             {% endif %}
            </div>
        </div>
    </nav>