<div class="ui raised segment">
    <div id="tab-nav" class="ui pointing secondary menu">
        <a class="item active" data-tab="recommend">推荐阅读</a>
        <a class="item" data-tab="popular">热门文章</a>
        <a class="item" data-tab="random">随机发现</a>                 
    </div>

    <div class="ui tab active" data-tab="recommend">
        <div class="ui relaxed divided animated list">
        {# 确定每个版块的ICON #}
        {% for article in recommended_articles %}
          <div class="item">
            <i class="{{ article.category.icon }} icon"></i>
            <div class="content">
              <a class="{{ article.link }}">{{ article.title }}</a>
            </div>
          </div>          
        {% endfor %}
                                                          
        </div>
    </div>

    <div class="ui tab" data-tab="popular">
        <div class="ui relaxed divided animated list">
        {# 确定每个版块的ICON #}
        {% for article in popular_articles %}
          <div class="item">
            <i class="{{ article.category.icon }} icon"></i>
            <div class="content">
              <a class="{{ article.link }}">{{ article.title }}</a>
            </div>
          </div>          
        {% endfor %}
                                                          
        </div>
    </div>
    <div class="ui tab" data-tab="random">
        <div class="ui relaxed divided animated list">
        {% for article in random_articles %}
          <div class="item">
            <i class="{{ article.category.icon }} icon"></i>
            <div class="content">
              <a class="{{ article.link }}">{{ article.title }}</a>
            </div>
          </div>          
        {% endfor %}
                                                          
        </div>
    </div>
</div>