<!-- Sidebar Menu For optimal performance make sure sidebar and pusher are direct children of your body tag -->
<div class="ui vertical inverted sidebar menu">
  <a class="item" href="/"><i class="home icon"></i>首页</a>
  <a class="item" href="/category/news"><i class="world icon"></i>资讯</a>
  <a class="item" href="/category/tutorials"><i class="fork icon"></i>教程</a>
  <a class="item" href="/category/katas"><i class="write icon"></i>练习</a>
  <a class="item" href="/category/notes"><i class="book icon"></i>笔记</a>
  <a class="item" href="/category/download"><i class="cloud download icon"></i>资源</a>
  <a class="item" href="/account/register"><i class="user icon"></i>注册</a>
  <a class="item" href="/account/login"><i class="sign in icon"></i>登录</a>
</div>