<!-- Sidebar Menu For optimal performance make sure sidebar and pusher are direct children of your body tag -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item"><i class="home icon"></i>首页</a>
  <a class="item"><i class="world icon"></i>资讯</a>
  <a class="item"><i class="fork icon"></i>教程</a>
  <a class="item"><i class="write icon"></i>练习</a>
  <a class="item"><i class="book icon"></i>笔记</a>
  <a class="item"><i class="cloud download icon"></i>资源</a>
  <a class="item"><i class="user icon"></i>注册</a>
  <a class="item"><i class="sign in icon"></i>登录</a>
</div>