{% extends "layout.html" %}

{% block title %}{{ article.title}}{% endblock title %}

{% block metas %}
	<meta name="keywords" content="百度员工离职总结：如何做个好员工">
	<meta name="description" content="百度员工离职总结：如何做个好员工">
	<meta name="author" content="EarlGrey">
{% endblock metas %}

{% block head_extend %}
{# 	  {% if article.get_prev %}<link rel="prev" title="{{ article.get_prev.title }}" href="{{ article.get_prev.link }}" />{% endif %}
	  {% if article.get_next %}<link rel="next" title="{{ article.get_next.title}}" href="{{ article.get_next.link }}" />{% endif %} #}
{% endblock head_extend %}

{% block main %}
	<div id="main">
	   
	    <div class="ui container stackable grid">

	        <div class="articles eleven wide column">

	            <div class="ui raised segment">


	                <a class="ui red ribbon label" href="" target="_blank"><i class="book icon"></i>{{ article.category.name}}</a>
	                <div class="article">
					    <div class="header"><a href=""><h1>{{ article.title }}</h1></a></div>
					    <div class="ui feed">
					        <div class="event">
					            <div class="label"><img src="http://semantic-ui.com/images/avatar2/small/mark.png" alt="" data-title="EarlGrey" class="avatar"></div>
					            <div class="content">
					                <span class="date">{{moment(article.created_at).fromNow()}}</span> {% for tag in article.tags %}
					                <span class="category date"><i class="tag icon"></i>{{ tag.name }}</span> {% endfor %}
					                <span class="share-article avatar" data-title="阅读数"><i class="eye icon" ></i>90</span>
					            </div>
					        </div>
					    </div>
					    <div class="image" style="padding-top: 0;">
					        <div class="article-thumb" data-bg="{{ url_for('static', filename=article.thumbnail, _external=True )}}">
					        </div>
					    </div>
					    <div class="article-content">
					        {{article.body_html | safe }}

<!-- 打赏表单 -->
<form id="donate" action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK" style="display: none;">
    <input name="optEmail" type="hidden" value="您的支付宝账号" />
    <input name="payAmount" type="hidden" value="9.9" />
    <input id="title" name="title" type="hidden" value="好文章，请继续努力！" />
    <input name="memo" type="hidden" value="备注" />
</form>
<!-- /打赏表单 -->
<!-- 打赏按钮的样式表 -->
<style type="text/css">
.donate_bar a.btn_donate {
    display: inline-block;
    width: 82px;
    height: 82px;
    background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
    _background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
}

.donate_bar a.btn_donate:hover {
    background-position: 0px -82px;
}

.donate_bar .donate_txt {
    display: block;
    color: #9d9d9d;
    font: 14px/2 "Microsoft Yahei";
}
</style>
<!-- /打赏按钮的样式表 -->
<!-- 打赏按钮 -->
<div class="donate_bar" style="text-align:center">
    <a class="btn_donate" href="javascript:;" title="Donate 打赏" onclick="document.getElementById('donate').submit()"></a>
    <span class="donate_txt">
		&uarr;<br/>
		If you enjoy the blog,
		please feel free to donate~
		Thx for your support.
	</span>
    <span class="donate_txt">
		若本文对您有帮助，求打赏~ 谢谢您的支持和鼓励。
	</span>
</div>
<!-- /打赏按钮 -->

{# 					        <div class="copyright-box ui segment secondary grey">
					            <p>
					                <span class="author-name">作者：
											        <a href="">Earl Grey</a>
											        </span>
					                <span>文章来源：<a href="#">编程派</a></span>
					            </p>
					            <p class="copyright-declare"><i class="fa fa-copyright"></i>此文版权归编程派所有，非商业性转载请注明来源编程派、作者及原文链接。商业转载请先<a href="mailto:contact@sspai.com">联系我们</a>。</p>
					        </div> #}
					        <div class="ui divider"></div>
					        <div class="nearby">
					            <div class="ui animated basic button teal" data-content="百度员工离职总结：如何做个好员工" data-variation="wide">
					                <div class="visible content">上一篇</div>
					                <div class="hidden content">
					                    <i class="left arrow icon"></i>
					                </div>
					            </div>
					            <div class="ui animated basic button teal" data-content="百度员工离职总结：如何做个好员工" data-variation="wide">
					                <div class="visible content">下一篇</div>
					                <div class="hidden content">
					                    <i class="right arrow icon"></i>
					                </div>
					            </div>
					            <div class="share-article ui button teal icon basic">
					                <i class="share alternate icon"></i>
					            </div>
					            <div class="ui popup">
					                <div class='bdsharebuttonbox bdshare-button-style1-24' data-bd-bind='1444833783821'>
					                    <a href='#' class='item bds_qzone' data-cmd='qzone' title='分享到QQ空间'></a>
					                    <a href='#' class='item bds_tsina' data-cmd='tsina' title='分享到新浪微博'></a>
					                    <a href='#' class='item bds_tqq' data-cmd='tqq' title='分享到腾讯微博'></a>
					                    <a href='#' class='item bds_renren' data-cmd='renren' title='分享到人人网'></a>
					                    <a href='#' class='item bds_weixin' data-cmd='weixin' title='分享到微信'></a>
					                </div>
					            </div>
					 
					        </div>
					    </div>
					</div>
				</div>


	            <div id="related__wrapper" class="ui raised segment related-articles">
	                <div class="ui pointing secondary menu section-title">
	                    <div class="item active"><i class="tags icon"></i>相关文章</div>                 
	                </div>

						<div class="ui three stackable cards">
							{# 相关文章暂时限制为3篇 #}

						    <div class="ui fluid link card">
						      <div class="image">
						      	<div class="related-thumb" data-bg="{{ url_for('static', filename=article.thumbnail, _external=True )}}"></div>
						      </div>
						      <div class="content">
						        <a class="header">{{ article.title }}</a>
						      </div>
						    </div>		
						</div>
                          
	            </div>

	            <div id="comment__wrapper" class="ui raised segment">
					<div class="ui pointing secondary menu section-title">
					    <div class="item active"><i class="comments icon"></i>文章评论</div>                 
					</div>

{# 
<div id="SOHUCS"></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cys2CrJ25'; 
var conf = '403f48c8bbadb8045eea6fdcd141f91c'; 
if (window.screen.width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); 
} else { 
var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); 
} 
})();


</script>

#}


					<div class="ui threaded comments">

					  <div class="comment">
					    <a class="avatar">
					      <img src="http://semantic-ui.com/images/avatar2/small/mark.png">
					    </a>
					    <div class="content">
					      <a class="author">Matt</a>
					      <div class="metadata">
					        <span class="date">Today at 5:42PM</span>
					      </div>
					      <div class="text">
					        How artistic!
					      </div>
					      <div class="actions">
					        <a class="reply">Reply</a>
					      </div>
					    </div>
					  </div>
					  <div class="comment">
					    <a class="avatar">
					      <img src="http://semantic-ui.com/images/avatar2/small/mark.png">
					    </a>
					    <div class="content">
					      <a class="author">Elliot Fu</a>
					      <div class="metadata">
					        <span class="date">Yesterday at 12:30AM</span>
					      </div>
					      <div class="text">
					        <p>This has been very useful for my research. Thanks as well!</p>
					      </div>
					      <div class="actions">
					        <a class="reply">Reply</a>
					      </div>
					    </div>
					    <div class="comments">
					      <div class="comment">
					        <a class="avatar">
					          <img src="http://semantic-ui.com/images/avatar2/small/mark.png">
					        </a>
					        <div class="content">
					          <a class="author">Jenny Hess</a>
					          <div class="metadata">
					            <span class="date">Just now</span>
					          </div>
					          <div class="text">
					            Elliot you are always so right :)
					          </div>
					          <div class="actions">
					            <a class="reply">Reply</a>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="comment">
					    <a class="avatar">
					      <img src="http://semantic-ui.com/images/avatar2/small/mark.png">
					    </a>
					    <div class="content">
					      <a class="author">Joe Henderson</a>
					      <div class="metadata">
					        <span class="date">5 days ago</span>
					      </div>
					      <div class="text">
					        Dude, this is awesome. Thanks so much
					      </div>
					      <div class="actions">
					        <a class="reply">Reply</a>
					      </div>
					    </div>
					  </div>
					  <form class="ui reply form">
					    <div class="field">
					      <textarea></textarea>
					    </div>
					    <div class="ui blue labeled submit icon button">
					      <i class="icon edit"></i> Add Reply
					    </div>
					  </form>
					</div>
	            </div>
	        </div>

	        <aside class="five wide column">
	            <div class="follow-me ui raised segment">
	                <div class="ui pointing secondary menu green section-title">
	                    <div class="item active"><i class="wechat icon"></i>关注编程派</div>                 
	                </div>

	                <button class="ui circular large wechat green icon button">
	                    <i class="wechat icon"></i>
	                </button>
	                <button class="ui circular large weibo red icon button">
	                    <i class="weibo icon"></i>
	                </button>
	                <button class="ui circular large twitter icon button">
	                    <i class="twitter icon"></i>
	                </button>

	                <button class="ui circular large icon button">
	                    <i class="github alternate blue icon"></i>
	                </button>

	                <a href="/"><button class="ui circular large icon button">
	                    <i class="rss brown icon"></i>
	                </button></a>	                    

	            </div>

	        <div class="ui sticky">

	            <div class="ui raised segment">
	                <div id="tab-nav" class="ui pointing secondary menu">
	                    <a class="item active" data-tab="recommend">推荐阅读</a>
	                    <a class="item" data-tab="popular">热门文章</a>
	                    <a class="item" data-tab="random">随机发现</a>                 
	                </div>

	                <div class="ui tab active" data-tab="recommend">
	                    <div class="ui relaxed divided animated list">
	                    {# 确定每个版块的ICON #}
	                      <div class="item">
	                        <i class="book icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>

	                      <div class="item">
	                        <i class="world icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>

	                      <div class="item">
	                        <i class="cloud download icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                      <div class="item">
	                        <i class="fork icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                      <div class="item">
	                        <i class="write icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                                                                      
	                    </div>
	                </div>
	                <div class="ui tab" data-tab="popular">
	                    <div class="ui relaxed divided animated list">
	                    {# 确定每个版块的ICON #}
	                      <div class="item">
	                        <i class="book icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>

	                      <div class="item">
	                        <i class="world icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>

	                      <div class="item">
	                        <i class="cloud download icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                      <div class="item">
	                        <i class="fork icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                      <div class="item">
	                        <i class="write icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                                                                      
	                    </div>
	                </div>
	                <div class="ui tab" data-tab="random">
	                    <div class="ui relaxed divided animated list">
	                    {# 确定每个版块的ICON #}
	                      <div class="item">
	                        <i class="book icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>

	                      <div class="item">
	                        <i class="world icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>

	                      <div class="item">
	                        <i class="cloud download icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                      <div class="item">
	                        <i class="fork icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                      <div class="item">
	                        <i class="write icon"></i>
	                        <div class="content">
	                          <a class="">百度员工离职总结：如何做个好员工</a>
	                        </div>
	                      </div>
	                                                                      
	                    </div>
	                </div>
	            </div>


	            <div class="ui raised segment">
	                <div class="ui pointing secondary menu red section-title">
	                    <div class="item active"><i class="tags icon"></i>热门标签</div>                 
	                </div>
	                {# 按标签下文章数量排序 #}
	                <div class="ui labels">
	                  <a class="ui label">
	                    Python
	                  </a>
	                  <a class="ui label">
	                    Flask
	                  </a>
	                  <a class="ui label">
	                    Design Pattern
	                  </a>
	                  <a class="ui label">
	                    Best Practice
	                  </a>
	                  <a class="ui label">
	                    网络并发
	                  </a>
	                  <a class="ui label">
	                    性能优化
	                  </a>
	                  <a class="ui label">
	                    网站建设
	                  </a>
	                  <a class="ui label">
	                    后端框架
	                  </a>
	                </div>                              
	            </div>

	        </div>
	        </aside>
	    </div>

	</div>
{% endblock main %}

{% block scripts %}
	{{super()}}
	<script>
$('.ui.sticky')
  .sticky({

    context: '.articles'
  }).sticky('refresh')
;

$('#tab-nav .item').tab();

$('.nearby .animated.button')
  .popup()
;

$('.share-article.ui.button').popup({
	position: 'left center',
	hoverable: true,
})
  	

$('.avatar').popup();


	</script>

<!-- Baidu Share JS -->
    <script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "1",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "24"
        },

        // bdText   string  自定义 分享的内容
        // bdDesc  string  自定义 分享的摘要
        // bdUrl   string  自定义 分享的Url地址
        // bdPic   string  自定义 分享的图片
        "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>

{% endblock scripts %}