{% extends "layout.html" %}

{% block title %}{{ article.title}}| 编程派 | Practice Coding Everyday{% endblock title %}

{% block metas %}
	<meta name="keywords" content="{{ article.title}}">
	<meta name="description" content="{{ article.title}}">
	<meta name="author" content="EarlGrey">
{% endblock metas %}

{% block head_extend %}
	  {% if article.get_prev %}<link rel="prev" title="{{ article.get_prev.title }}" href="{{ article.get_prev.link }}" />{% endif %}
	  {% if article.get_next %}<link rel="next" title="{{ article.get_next.title}}" href="{{ article.get_next.link }}" />{% endif %}
{% endblock head_extend %}

{% block main %}
	<div id="main">
	   
	    <div class="ui container stackable grid">

	        <div class="articles eleven wide column">

	            <div class="ui raised segment">


	                <a class="ui red ribbon label" href="{{ url_for('site.category', slug=article.category.slug) }}" target="_blank"><i class="{{ article.category.icon }} icon"></i>{{ article.category.name}}</a>
	                <div class="article">
					    <div class="header"><a href="{{ article.link }}"><h1>{{ article.title }}</h1></a></div>
					    <div class="ui feed">
					        <div class="event">
					            <div class="label"><img src="{{ article.author.gravatar() if article.author is not none else "http://semantic-ui.com/images/avatar2/small/mark.png" }}" alt="" data-title="{{ article.author.username }}" class="avatar"></div>
					            <div class="content">
					                <span class="date">{{moment(article.created_at).fromNow()}}</span> 
					                {% for tag in article.tags %}
					                <span class="category date"><i class="tag icon"></i>{{ tag.name }}</span> 
					                {% endfor %}
					                <span class="share-article avatar" data-title="阅读数"><i class="eye icon" ></i>{{ article.views }}</span>
					            </div>
					        </div>
					    </div>
					    <div class="image" style="padding-top: 0;">
					        <div class="article-thumb" data-bg="{{ url_for('static', filename=article.thumbnail, _external=True )}}">
					        </div>
					    </div>
					    <div class="article-content">
					        {{article.body_html | safe }}

					        {% include "includes/reward.html" %}

{# 					        <div class="copyright-box ui segment secondary grey">
					            <p>
					                <span class="author-name">作者：
											        <a href="">Earl Grey</a>
											        </span>
					                <span>文章来源：<a href="#">编程派</a></span>
					            </p>
					            <p class="copyright-declare"><i class="fa fa-copyright"></i>此文版权归编程派所有，非商业性转载请注明来源编程派、作者及原文链接。商业转载请先<a href="mailto:contact@sspai.com">联系我们</a>。</p>
					        </div> #}


					        <div class="ui divider"></div>
					        <div class="nearby">
					        	{% if article.get_prev %}
					            <div class="ui animated basic button teal" data-content="{{ article.get_prev.title }}" data-variation="wide">
					                <div class="visible content">上一篇</div>
					                <a href="{{ article.get_prev.link }}"><div class="hidden content">
					                    <i class="left arrow icon"></i>
					                </div></a>
					            </div>
					        	{% endif %}

					        	{% if article.get_next %}
					            <div class="ui animated basic button teal" data-content="{{ article.get_next.title }}" data-variation="wide">
					                <div class="visible content">下一篇</div>
					                <a href="{{ article.get_next.link }}"><div class="hidden content">
					                    <i class="right arrow icon"></i>
					                </div></a>
					            </div>
					        	{% endif %}


					            <div class="share-article ui button teal icon basic">
					                <i class="share alternate icon"></i>
					            </div>
					            <div class="ui popup">
					                <div class='bdsharebuttonbox bdshare-button-style1-24' data-bd-bind='1444833783821'>
					                    <a href='#' class='item bds_qzone' data-cmd='qzone' title='分享到QQ空间'></a>
					                    <a href='#' class='item bds_tsina' data-cmd='tsina' title='分享到新浪微博'></a>
					                    <a href='#' class='item bds_tqq' data-cmd='tqq' title='分享到腾讯微博'></a>
					                    <a href='#' class='item bds_renren' data-cmd='renren' title='分享到人人网'></a>
					                    <a href='#' class='item bds_weixin' data-cmd='weixin' title='分享到微信'></a>
					                </div>
					            </div>
					 
					        </div>
					    </div>
					</div>
				</div>


	            <div id="related__wrapper" class="ui raised segment related-articles">
	                <div class="ui pointing secondary menu section-title">
	                    <div class="item active"><i class="tags icon"></i>相关文章</div>                 
	                </div>


						<div class="ui three stackable cards">
							{# 相关文章暂时限制为3篇 #}
							{% for article in related_articles %}
						    <div class="ui fluid link card">
						      <div class="image">
						      	<div class="related-thumb" data-bg="{{ url_for('static', filename=article.thumbnail, _external=True )}}"></div>
						      </div>
						      <div class="content">
						        <a class="header">{{ article.title }}</a>
						      </div>
						    </div>
						    {% endfor %}		
						</div>						    		
				    	

                          
	            </div>

	            <div id="comment__wrapper" class="ui raised segment">
					<div class="ui pointing secondary menu section-title">
					    <div class="item active"><i class="comments icon"></i>文章评论</div>                 
					</div>

					{% include "includes/comment.html" %}


	            </div>
	        </div>

	        <aside class="five wide column">
	        	{% include "includes/follow_us.html" %}
	        <div class="ui sticky">
	        	{% include "includes/popular.html" %}
	        	{% include "includes/tags.html" %}
	        </div>
	        </aside>
	    </div>

	</div>
{% endblock main %}

{% block scripts %}
	{{super()}}
	<script>
$('.ui.sticky')
  .sticky({

    context: '.articles'
  }).sticky('refresh')
;

$('#tab-nav .item').tab();

$('.nearby .animated.button')
  .popup()
;

$('.share-article.ui.button').popup({
	position: 'left center',
	hoverable: true,
})
  	

$('.avatar').popup();


	</script>

<!-- Baidu Share JS -->
    <script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "1",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "24"
        },

        // bdText   string  自定义 分享的内容
        // bdDesc  string  自定义 分享的摘要
        // bdUrl   string  自定义 分享的Url地址
        // bdPic   string  自定义 分享的图片
        "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>

{% endblock scripts %}