{% extends "layout.html" %}


{% block title %}
{% if 'category' in request.url  %}{{ category.name }} | 编程派
{% elif 'tag' in request.url %} {{ tag.name }} | 编程派
{% else %} 编程派 | Coding Python
{% endif %}
{% endblock title %}

{% block main %}

<div id="top">
    {% if 'category' in request.url or 'tag' in request.url %}
        {% else %}{% include "includes/glide.html" %}
    {% endif %}

</div>

{# latest content #}
<div id="main">
   
    <div class="ui container stackable grid">

        <div class="articles eleven wide column">

            <div class="ui segment">

                <div class="ui pointing secondary menu brown section-title">
                    <div class="item active"><i class="feed icon"></i>
                    {% if 'category' in request.url %}
                      {{ category.name }}：最新文章
                      {% elif 'tag' in request.url %} {{ tag.name }}：最新文章
                      {% else %}最新文章
                    {% endif %}</div>                 
                </div>

                {% if all_articles %}
                  <div class="js-infinite-layout">
                    {% include "includes/items.html" %}
                  </div>
                {% endif %}

            </div>

            <div class="ui center aligned js-infinite-navigation" style="text-align:center">
              
              <a href="{{ request.url }}/page/{{page + 1}}"></a>
{#                 <a href="{{ url_for('site.%s' % (request.script_root[1:]), ) }}"></a> #}

            </div>
        </div>

        <aside id="related__wrapper" class="five wide column">
            {% include "includes/follow_us.html" %}

            <div class="ui sticky">

                {% include "includes/popular.html" %}


                {% include "includes/tags.html" %}

            </div>
        </aside>
    </div>

</div>

{# TODO: redesign index page #}
{% endblock%}

{% block scripts %}
    {{super()}}

    <script type="text/javascript">

// expand horizontal viewport
$.extend($.lazyLoadXT, {
  edgeX:  2500,
  updateEvent: 'load orientationchange resize scroll switchSlideEvent switchSlideAnimateEvent'

});

$(window).on('ajaxComplete', function() {
    setTimeout(function() {
        $(window).lazyLoadXT();
    }, 50);
});


$(document).ready(function() {

    if (matchMedia('only screen and (max-width: 768px)').matches) {
        $('#Glide').glide({
            type: "carousel",
            autoplay: 4000,
            animationDuration: 500,
        });
        $('.glide__wrapper').removeClass('bug-fix');
        // 避免加载时的bug带来的不良体验
    } else {
            $("#Glide").glide({
            type: "carousel",
            paddings: "20%",
            autoplay: 4000,
            animationDuration: 500,

        });
            $('.glide__wrapper').removeClass('bug-fix');
            $('.ui.sticky').sticky({

                context: '.js-infinite-layout'
              }).sticky('refresh');
            };
});


    </script>

    <script>


$('.box, .article-thumb').dimmer({
    on: 'hover',
    opacity: 0.7,
});

$('.avatar').popup();

// $('.ui.divider').last().remove();

$('.shape')
  .shape('flip up')
;



$('#tab-nav .item').tab();

$('.js-infinite-layout').infinitescroll({
  loading: {
    finished: flask_moment_render_all,
    finishedMsg: "<div style='text-align:center'><em>没有更多文章了~~</em></div>",
    img: "{{ url_for('static', filename='/images/rolling.svg') }}",
  },
  itemSelector: '.js-infinite-item',
  nextSelector: "div.js-infinite-navigation a:first",
  navSelector: "div.js-infinite-navigation",
});


</script>


{% endblock scripts %}

