{% extends "layout.html" %}

{% block main %}

<div class="ui container vertical stripe segment">
    <div class="ui card">
    <div class="image">
        <img src="http://semantic-ui.com/images/logo.png">
    </div>
    <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
            <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
            Kristy is an art director living in New York.
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i> 22 Friends
        </a>
    </div>
</div>
</div>


{% endblock%}