{% extends "layout.html" %}

{% block main %}


<div id="top-area">
    {# top articles with jquery slider #}
<div id="Glide" class="glide ui container">

    <div class="glide__arrows">
        <span class="glide__arrow prev" data-glide-dir="<">prev</span>
        <span class="glide__arrow next" data-glide-dir=">">next</span>
    </div>

    <div class="glide__wrapper">
        <div class="glide__track">
            <div class="glide__slide slider__slide">
                <div class="box" style="background-image: url(http://sspai.com/attachment/origin/2015/09/23/282810.png)"></div>
            </div>
            <div class="glide__slide slider__slide">
                <div class="box" style="background-image: url(http://sspai.com/attachment/origin/2015/09/06/279083.jpg)"></div>
            </div>
            <div class="glide__slide slider__slide">
                <div class="box" style="background-image: url(http://sspai.com/attachment/origin/2015/09/15/280817.jpg)"></div>
            </div>
        </div>
    </div>

    <div class="glide__bullets"></div>

</div>

</div>


{# latest articles #}
<div class="ui container">
    <div class="ui link cards">
        <div class="ui card">
            <div class="image">
                <img src="/images/avatar2/large/kristy.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i> 22 Friends
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock%}

{% block scripts %}
    {{super()}}
    <script>
    $("#Glide").glide({
        type: "carousel",
        paddings: 250,
        autoplay: 5000,
        animationDuration: 500,

    });
</script>
{% endblock scripts %}