<!DOCTYPE html>
<html {% block html_attrs %}lang="zh-CN"{% endblock html_attrs %}>

<head>
	{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block metas %}
	<meta name="keywords" content="Python, 编程派">
	<meta name="description" content="">
	<meta name="author" content="EarlGrey">
	{% endblock metas %}
	{% block styles %}	
    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='code.css') }}">


    {# 必须删了home.css才会更新源文件里的内容 #}
{#  <link rel="stylesheet" type="text/css" href="/static/style.css"> #}
	<link rel="icon" href="{{ url_for('static', filename='/images/logo.png') }}">
	<link rel="image_src" type="image/jpeg" href="{{ url_for('static', filename='/images/logo.png') }}">

	{% endblock styles %}
	{% endblock head %}

    {% block head_extend %}
        
    {% endblock head_extend %}

</head>
<body {% block body_attrs %}rel='index'{% endblock body_attrs %}>

{% include "includes/sidebar.html" %}

<div class="pusher">
{% block content %}

	{% block navbar %}
        {% include "includes/navbar.html" %}        
	{% endblock navbar %}

	{% block main %}		
	{% endblock main %}

<footer>
	{% block footer %}
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        {% include "includes/footer.html" %}
    </div>
</div>

	{% endblock footer %}
</footer>

	{% block scripts %}

       {% assets "home_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {{moment.include_moment()}}
    {{ moment.lang('zh-CN')}}

    <script type="text/javascript">

// expand horizontal viewport
$.extend($.lazyLoadXT, {
  edgeX:  2500,
  updateEvent: 'load orientationchange resize scroll switchSlideEvent switchSlideAnimateEvent'

});

$(window).on('ajaxComplete', function() {
    setTimeout(function() {
        $(window).lazyLoadXT();
    }, 50);
});


$(document).ready(function() {

    if (matchMedia('only screen and (max-width: 768px)').matches) {
        $('#Glide').glide({
            type: "carousel",
            autoplay: 4000,
            animationDuration: 500,
        });
        $('.glide__wrapper').removeClass('bug-fix');
        // 避免加载时的bug带来的不良体验
    } else {
            $("#Glide").glide({
            type: "carousel",
            paddings: "20%",
            autoplay: 4000,
            animationDuration: 500,

        });
            $('.glide__wrapper').removeClass('bug-fix');
    };


    // create sidebar and attach to menu open
    $('.ui.sidebar')
      .sidebar('attach events', '.toc.item')
    ;

});


    </script>

	{% endblock scripts %}


	{% block analytics %}
		
	{% endblock analytics %}

		
{% endblock content %}
</div>

</body>
</html>

