<!DOCTYPE html>
<html {% block html_attrs %}lang="zh-CN"{% endblock html_attrs %}>

<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}编程派 | Practice Coding{% endblock title %}</title>

		{% block metas %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="keywords" content="Python, 编程派">
			<meta name="description" content="">
			<meta name="author" content="EarlGrey">
		{% endblock metas %}

		{% block styles %}
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
			<link rel="stylesheet" href="/static/vendor/semantic-ui/semantic.css">
			<link rel="stylesheet" type="text/css" href="/static/vendor/glide/css/glide.core.min.css">
			<link rel="stylesheet" type="text/css" href="/static/vendor/glide/css/glide.theme.min.css">
			<link rel="stylesheet" type="text/css" href="/static/style.css">
			<link rel="icon" href="http://semantic-ui.com/images/logo.png">
			<link rel="image_src" type="image/jpeg" href="http://semantic-ui.com/images/logo.png">

		{% endblock styles %}
	{% endblock head %}
</head>
<body {% block body_attrs %}rel='index'{% endblock body_attrs %}>

{% block content %}

	{% block navbar %}
	<nav id="navbar" class="ui stripe">
    <div class="ui container inverted secondary menu">
        <div class="header item">
            <a href="http://codingpy.com" target="_blank" title="codingpy.com"><img class="ui logo" src="http://semantic-ui.com/images/logo.png"></a>
        </div>
        <a class="item" href="" target="_blank">首页</a>
        <a class="item" href="" target="_blank">资讯</a>
        <a class="item" href="" target="_blank">教程</a>
        <a class="ui item" href="" target="_blank">练习</a>
        <a class="item" href="" target="_blank">资源</a>
        <div class="right menu">
            <div class="item">
                <div style="font-family: arial,'Hiragino Sans GB','微软雅黑',MicrosoftYaHei,'宋体',Tahoma,Arial,Helvetica,STHeiti;" class="ui basic teal inverted button">
                    注册/登陆 
                    {# 已登录则显示为退出 #}
                </div>
            </div>
        </div>
    </div>

</nav>



	{% endblock navbar %}


	{% block main %}
		
	{% endblock main %}

<footer>
	{% block footer %}
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>

	{% endblock footer %}
</footer>

	{% block scripts %}
	<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.js"></script>
	<script type="text/javascript" src="/static/vendor/semantic-ui/semantic.min.js"></script>
	<script type="text/javascript" src="/static/vendor/glide/glide.min.js"></script>
	{% endblock scripts %}


	{% block analytics %}
		
	{% endblock analytics %}

		
{% endblock content %}


</body>
</html>

