{% extends "layout.html" %}

{% block title %}登陆编程派 每天学习Python{% endblock title %}

{% block metas %}
    <meta name="keywords" content="login">
    <meta name="description" content="login">
    <meta name="author" content="EarlGrey">
{% endblock metas %}

{% block main %}
  <div class="ui container middle aligned center aligned grid" style='width:380px !important; min-height:480px;'>
    <div class="column">
{#         <h2 class="ui teal image header">
          <img src="{{ url_for('static', filename='images/logo.png') }}" class="image">
          <div class="content">登陆编程派</div>
        </h2> #}

        <form class="ui form"method="POST" enctype="multipart/form-data" role="form">
            <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input id="email" required type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" id="password" name="password" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="field" style="text-align:left;">
                        <div class="ui checkbox">
                            <input id='remember_me' type="checkbox" name="remember_me"> 
                            <label for="remember_me">记住我</label>
                        </div>
                    </div>


                    <input class="ui fluid large teal submit button" id="submit" name="submit" type="submit" value="登陆">
                </div>
            

        </form>
        
        <div class="ui message">
            还不是会员？<a href="/account/register/">请先注册</a>
        </div>

    </div>

</div>

{% endblock main %}

{% block scripts %}
    
{% endblock scripts %}