{% extends "layout.html" %}
{% import "wtf.html" as wtf %}

{% block main %}
  <div class="ui container middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
      注册编程派
    </h2>
{#         <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirm password" placeholder="Retype Password">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">注册</div>
            </div>
            <div class="ui error message"></div>
        </form> #}
        {{ wtf.quick_form(form, method="POST", enctype="multipart/form-data", form_type="horizontal", horizontal_columns=('md', 2, 10)) }}
    </div>
</div>

{% endblock main %}